//  Typography styles

// Baseline
html {
  color: $grey-dark;
  line-height: $base-leading;
  font-family: $font-family-base;
  font-weight: $font-weight-normal;
}
body {
  font-size: 17px;
  line-height: 1.6em;
  font-family: $font-family-base;
}



// Heading text
h1 {
  font-weight: $font-weight-bold;
}
h2 {
  font-weight: $font-weight-normal;
  margin-top: 1.6em;
  margin-bottom: 1em;
}
h3 {
  font-weight: $font-weight-bold;
}
h4,
h5,
h6 {
  font-weight: $font-weight-bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  small {
    color: $grey;
  }
  a {
    line-height: 1.6;
  }
}



// base for a link
a {
  color: darken( $blue-bright, 15% );
  &:active,
  &:focus,
  &:hover {
    text-decoration: none !important;
  }
}
// your average content link (and page footer)
body > div,
body > main,
body > footer {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  small,
  ul,
  table,
  span,
  div,
  ol {
    a {
      color: $grey-dark;
      text-decoration: none;
      outline: none;
      border-bottom: solid 1px $blue-bright;
      transition: 0.1s all ease-in-out;
      padding: 1px;
      &:hover,
      &:focus,
      &:active {
        color: $grey-dark;
        background-color: $blue-bright;
        text-decoration: none;
      }

      // external links
      // &[rel~='external'] {
      //   // display: inline;
      //   position: relative;
      //   margin-right: 1.6em;
      // }
      &[rel~='external'] {
        &:after {
          // DTO way, with svg.
            // background-size: 0.9em auto;
            // content: '';
            // position: absolute;
            // // display: inline;
            // width: 1.2em;
            // height: 1.2em;
            // background-repeat: no-repeat;
            // background-position: right 0.4em;
            // border-bottom: 1px solid transparent;
            // background-image: url('../img/icons/external-link--aqua.svg');
          // ...but assuming Boostrap has loaded the font icons anyway
          content: "\e164"; // external link icon
          position: relative;
          top: 1px;
          display: inline-block;
          font-family: 'Glyphicons Halflings';
          font-style: normal;
          font-weight: 400;
          line-height: 1;
          padding-left: 5px;
          padding-right: 2px;
          -webkit-font-smoothing: antialiased;
          // color: $blue-bright;
          color: $darker-aqua;
        }
        &:hover,
        &:active,
        &:focus {
          &:after {
            color: $grey-dark;  // if using the font icon method
          }
        }
      }

    }
  }
}
// your average content link that's in a small tag and should be grey not 'black'
body > div,
body > footer {
  small {
    a {
      color: $grey;
    }
  }
}







// Other typography elements
p {
  font-weight: $font-weight-normal;
  max-width: 48em;   // for readability
}
.alert,
#main li {
  max-width: 48em;   // for readability
}
.jumbotron p,
.lead {
  $font-size-large: 150%;
  font-weight: $font-weight-normal;
}




// Blockquotes
blockquote {
  background-color: $grey-light;
  font-family: $font-serif;
  quotes: '\201C''\201D''\2018''\2019';
  border-left: none;
  padding: 20px 30px;
  &.pullquote {
    padding: 0;
    background-color: #fff;
    p {
      text-align: center;
    }
    // Support: IE7 does not properly support pseudo elements `:before`/`:after`: http://caniuse.com/#feat=css-sel2
    &::before,
    &::after {
      text-align: center;
      margin: 0;
      font-size: 5em;
    }
    &::after {
      bottom: -0.5em;
    }
  }
  &::before,
  &::after {
    display: block;
    height: 0;
    font-family: $font-serif;
    font-size: 3em;
    color: $primary;
  }
  &::before {
    content: open-quote;
    margin-left: -0.3em;
    padding-bottom: 0.4em;
    top: 0.1em;
    position: relative;
  }
  &::after {
    text-align: right;
    content: close-quote;
    margin-right: -0.3em;
    margin-top: -0.8em;
    padding-bottom: 1.2em;
    bottom: -1.2em;
    position: relative;
  }
  footer {
    border-top: 1px solid $grey-light;
  }
  cite {
    display: inline-block;
    font-family: $font-sans-serif;
    &::before {
      content: 'Citation: ';
      text-transform: lowercase;
      font-variant: small-caps;
      letter-spacing: 1px;
      color: $grey-dark;
      font-family: $font-sans-serif;
    }
  }
  // So that nested blockquotes do not break the vertical rhythm.
  blockquote {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}
q {
  // Investigate: switching to html entities?
  quotes: '“' '”' '‘' '’' '“' '”' '‘' '’';
}
cite {
  font-style: normal;
  font-family: $font-sans-serif;
}
article {
  h1:first-of-type {
    margin-top: 0;
  }
}
