// vars for this theme
// also see _dto_vars.scss file

// SDT colours for labels, etc.
$colour-portfolio: #ff7b1f;
$colour-directorysubstructure: #ff252c;
$colour-board: #dd27ff;
$colour-nonboard: #ffee2d;
$colour-person: #6dd3ff;
$colour-webform: #589442;
$colour-standardpage: #ff7c74;
$colour-role: #ff008d;
