

/**
This stuff below here, should really go in DTOStrap / and / or UI KIT once we get that in.
*/

.region-nav-secondary {
  background-color: #000000;
  color: #FFFFFF;
  padding: 10px 0px;

  a {
    color: #FFFFFF;
  }
}