/**
 * @file
 * Installation styling.
 *
 * Unfortunately we have to make our styling quite strong, to override the
 * .maintenance-page styling.
 */
.install-page {
  background-color: #1275b2;
  background-image:
    url(../../images/noise-low.png),
    -webkit-radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-image:
    url(../../images/noise-low.png),
    radial-gradient(hsl(203, 80%, 45%), hsl(203, 80%, 32%));
  background-repeat: repeat;
  background-position: left top, 50% 50%; /* LTR */
  min-height: 100%;
}
[dir="rtl"] .install-page {
  background-position: right top, 50% 50%;
}

/**
 * Password widget
 */
.install-page .password-parent,
.install-page .confirm-parent {
  width: auto;
}
.install-page .form-item .password-suggestions {
  float: none;
  width: auto;
}
.install-page table td {
  word-break: break-all;
}

.install-page .site-version {
  vertical-align: super;
  font-size: 0.5em;
  color: #595959;
}

@media all and (max-width: 1010px) and (min-width: 48em) {
  .install-page .password-strength,
  .install-page .confirm-parent {
    width: 100%;
  }
  .install-configure-form .form-type-password {
    width: 100%;
  }
  .password-confirm,
  .password-field {
    float: none;
  }
  .password-confirm-match {
    float: none;
    width: auto;
    max-width: 100%;
  }
}







/* govUI styles */
.install-page.page-title {
  color: #346577;
}

.install-page {
  background: linear-gradient(11deg,#24d4dc,#4a6f9d);
}

.install-pageheader {
	display: block;
}

.install-page.site-version {
	float: left;
}

.install-page .heading-a {
	color: #4a6f9d;
}

.install-page #error {
	color: #BB271A;
}

.install-page #warning {
	color: #AB5F22;
}

.install-page #ok {
	color: #327357;
}

.install-page .system-status-report:last-of-type {
	margin-bottom: 2em;
}

.install-page main > a {
	display: inline-block;
	padding: 4px 5px;
	border: 1px solid #4a6f9d;
	border-radius: 3px;
	margin-top: 5px;
}
.install-page main > a:hover {
	background: #4a6f9d;
  color: #fff;
  text-decoration: none;
}
