/* ---------- Preview Styles ----------- */
.color-form {
  width: 100%;
  max-width: 100em;
}

.js .color-preview {
  clear: both;
  float: none !important;
  width: 100%;
}
.color-preview {
  background-color: #fff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  line-height: 1.5;
  overflow: hidden;
  word-wrap: break-word;
  margin-bottom: 10px;
}

body {
  /* Need this to override bootstrap overriding... */
  font-size: 13px!important;
}